<svg style="width:186px;height:88px" class="PatternPieces__centerDartDiagram">
	<line class="PatternPieces__centerDart--center" x1="92.62" y1="36.39" x2="92.62" y2="71.72" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="92.62" y1="36.39" x2="92.62" y2="71.72" style="fill:none;stroke:#fbfbfb;stroke-dasharray:2;stroke-width:2px"/>
	<path d="M1.5,11.54l52-10s2.82,16.92,13,26.23c6.86,6.29,18.29,8.35,26.17,8.75v-.09C100.49,36,112,34,118.81,27.73c10.15-9.31,13-26.23,13-26.23l52,10" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"/>
	<line x1="173.38" y1="9.54" x2="164.58" y2="87.62" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:1.9635515213012695,1.9635515213012695"/>
	<line x1="11.88" y1="9.54" x2="20.68" y2="87.62" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:1.9635515213012695,1.9635515213012695"/>
	<line x1="179.17" y1="9.54" x2="170.37" y2="87.62" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="167.59" y1="9.54" x2="158.79" y2="87.62" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="6.09" y1="9.54" x2="14.89" y2="87.62" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="183.76" y1="71.72" x2="2.5" y2="71.72" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:1.9808646440505981,1.9808646440505981"/>
	<line x1="183.76" y1="60.14" x2="1.5" y2="60.14" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="183.76" y1="83.3" x2="1.5" y2="83.3" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line class="PatternPieces__centerDart--left" x1="92.6" y1="71.72" x2="86.82" y2="36.65" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line class="PatternPieces__centerDart--right" x1="92.63" y1="71.72" x2="98.41" y2="36.39" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="92.62" y1="36.39" x2="176.14" y2="36.39" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
	<line x1="92.62" y1="36.39" x2="9.12" y2="36.39" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round"/>
</svg>
