<header>
	{% if page.collection %}
		{% for collection in site.collections %}
			{% if collection.label == page.collection %}
				<h1>{{ collection.title }}</h1>
			{% endif %}
		{% endfor %}
		{% capture url %}/{{ page.collection }}/{% endcapture %}
		{% if page.url == url %}
			<p>{{ page.description }}</p>
		{% else %}
			<p>{{ page.title }}</p>
		{% endif %}
	{% else %}
		<h1>{{ site.title }}</h1>
		{% if page.url == '/' %}
			<p>{{ site.description }}</p>
		{% else %}
			<p>{{ page.title }}</p>
		{% endif %}
	{% endif %}
</header>
