<nav>
	<ul>
		{% for entry in site.pages %}
			{% if entry.title %}
				<li>
					<a
						href="{{ site.baseurl }}{{ entry.url }}"
						{% if entry.url == page.url %}
							class="current"
						{% endif %}
					><strong>{{ entry.title }}</strong></a>
				</li>
			{% endif %}
		{% endfor %}
		{% for collection in site.collections %}
			{% if collection.title %}
				{% capture url %}/{{ collection.label }}/{% endcapture %}
				<li class="Nav__header Nav__header--collection">
					<a
						href="{{ site.baseurl }}{{ url }}"
						{% if url == page.url %}
							class="current"
						{% endif %}
					><strong>{{ collection.title }}</strong></a>
				</li>
				{% if page.collection == collection.label %}
					{% for entry in collection.docs %}
						{% assign segments = entry.url | split: "/" | size %}
						{% if segments == 3 %}
							<li>
								<a
									href="{{ site.baseurl }}{{ entry.url }}"
									{% if entry.url == page.url %}
										class="current"
									{% endif %}
								>{{ entry.title }}</a>
								<ul class="subNav">
									{% for sub in collection.docs %}
										{% assign segs = sub.url | split: "/" %}
										{% if segs[3] and segs[2] == entry.slug %}
											<li class="subPage">
												<a
													href="{{ site.baseurl }}{{ sub.url }}"
													{% if sub.url == page.url %}
														class="current"
													{% endif %}
												>{{ sub.title }}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>
