{%- assign parts = include.rank | split: ":" -%}
{%- assign color1 = parts[0] -%}
{%- assign rank = parts[1] -%}
{%- assign color2 = parts[2] -%}

<div class="RankBar RankBar--{{ color1 }}">
	{%- assign rows = rank | split: "-" -%}
	<div class="RankBar__bar">
		{%- for row in rows -%}
			<div class="RankBar__row">
				{%- assign tiles = row | split: "" -%}
				{%- for tile in tiles -%}
					<span class="RankBar__tile RankBar__tile--{{ tile }}"></span>
				{%- endfor -%}
			</div>
		{%- endfor -%}
	</div>
	<div class="RankBar__trouserColor RankBar__trouserColor--{{ color2 }}"></div>
</div>
