.RankBar {
	display: table;
	background: #bbb;
	border-radius: 3px;
	border: 1px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.RankBar + .RankBar {
	margin-top: 8px;
}

.RankBar--wide .RankBar__tile {
	margin: 2px 3px !important;
}

.RankBar__row {
	display: block;
	white-space: nowrap;
	height: 17px;
}

.RankBar__row:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.RankBar__row:not(:first-child) {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.RankBar__tile {
	width: 9px;
	height: 13px;
	display: inline-block;
	box-sizing: border-box;
	margin: 2px;
	border-radius: 2px;
	border: 2px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(255, 255, 255, 0.1);
}

.RankBar__tile:not(:last-child) {
	margin-right: 0;
}

.RankBar__tile--R {
	background-color: #E61B21;
}

.RankBar__tile--B {
	background-color: #2C78BC;
}

.RankBar__tile--Y {
	background-color: #FFA518;
}

td ul {
	padding-left: 10px;
}

figure {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 14px 20px;
}

figure figcaption:first-child {
	border-bottom: 2px solid #ccc;
	padding: 0 8px;
	margin-bottom: 8px;
	font-weight: bold;
}

figcaption small {
	display: block;
	line-height: 1em;
	opacity: 0.6;
}

.Tunic,
.Trousers{
	height: 250px;
}

.Tunic--white,
.Trousers--white {
	fill: #fff;
}

.Tunic--olive,
.Trousers--olive {
	fill: #424641;
}

.Tunic--black,
.Trousers--black {
	fill: #222;
}

.Tunic--noCenterDart .Tunic__centerDart,
.Tunic--noPockets .Tunic__pocket,
.Tunic:not(.Tunic--bellSleeves) .Tunic__bellSeam,
.Tunic:not(.Tunic--epaulets) .Tunic__epaulet,
.Tunic:not(.Tunic--collarArrows) .Tunic__collarArrow,
.Tunic:not(.Tunic--straightYoke) .Tunic__straightYoke,
.Trousers--straight .Trousers__flare,
.Trousers:not(.Trousers--jackBoots) .Trousers__jackBoot,
.Trousers--jackBoots .Trousers__tallBoot {
	display: none !important;
}

.Tunic--straightYoke .Tunic__shoulderSeam {
	stroke: #7f7f7f !important;
	opacity: 0.6;
}

.Officer__table {
}

.Officer__table th,
.Officer__table td {
	border: none !important;
	vertical-align: top;
}

.Officer__table--rank {
	width: auto;
	width: 40%;
	float: left;
	margin-left: 5%;
}

.Officer__table--rank + :not(.Officer__table) {
	clear: both;
}

.Officer__table--rank th {
	text-align: right;
	line-height: 1em;
}

.Officer__table--rank td {
	text-align: left;
	width: 80px;
}

.PatternPiece__3overlay {
	animation: fadeInRight--3overlay 8s ease infinite;
}

@keyframes fadeInRight--3overlay {
	0%, 10% {
		transform: translate3d(50px, 60px, 0) rotateZ(10deg) scale3d(1.25, 1.25, 1);
		opacity: 0;
	}

	20%, 30% {
		transform: translate3d(0, 0, 0) rotateZ(0deg) scale3d(1, 1, 1);
		opacity: 1;
	}

	40%, 100% {
		transform: translate3d(50px, -60px, 0) rotateZ(-10deg) scale3d(1.25, 1.25, 1);
		opacity: 0;
	}
}

.PatternPiece__yokeMark1,
.PatternPiece__yokeMark2 {
	stroke-dasharray: 20;
	stroke-dashoffset: 20;
}

.PatternPiece__yokeMark1 {
	animation: fadeIn--yokeMark1 8s ease infinite;
}

.PatternPiece__yokeMark2 {
	animation: fadeIn--yokeMark2 8s ease infinite;
}

@keyframes fadeIn--yokeMark1 {
	0% {
		opacity: 1;
		stroke-dashoffset: 20;
	}

	10%, 60% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	70%, 100% {
		opacity: 0;
		stroke-dashoffset: 0;
	}
}

@keyframes fadeIn--yokeMark2 {
	0%, 20% {
		stroke-dashoffset: 20;
		opacity: 1;
	}

	30%, 60% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	70%, 100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

.PatternPiece__yokeLine1 {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation: draw--yokeLine1 8s ease infinite;
}

.PatternPiece__yokeLine2 {
	stroke-dasharray: 3;
}

@keyframes draw--yokeLine1 {
	0%, 40% {
		stroke-dashoffset: 200;
	}

	80% {
		stroke-dashoffset: 0;
	}

	90% {
		opacity: 1;
	}

	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

.PatternPieces__frontPiecesWrapper {
	color: #000;
}

.PatternPieces__frontPiecesWrapper[data-current]  .PatternPieces__frontTemplate {
	opacity: 0.3;
}

.PatternPieces__frontPiecesWrapper[data-current] .PatternPieces__frontPiece {
	fill: #fff !important;
	fill-opacity: 0.6;
}

.PatternPieces__frontPiecesWrapper:not([data-current]) .PatternPieces__frontPiece,
.PatternPieces__frontPiecesWrapper[data-current="2a"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2a),
.PatternPieces__frontPiecesWrapper[data-current="2b"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2b),
.PatternPieces__frontPiecesWrapper[data-current="2c"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2c),
.PatternPieces__frontPiecesWrapper[data-current="2d"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2d),
.PatternPieces__frontPiecesWrapper[data-current="2e"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2e),
.PatternPieces__frontPiecesWrapper[data-current="2f"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2f),
.PatternPieces__frontPiecesWrapper[data-current="2g"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2g),
.PatternPieces__frontPiecesWrapper[data-current="2h"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2h),
.PatternPieces__frontPiecesWrapper[data-current="2i"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2i),
.PatternPieces__frontPiecesWrapper[data-current="2j"] .PatternPieces__frontPiece:not(.PatternPieces__frontPiece--2j) {
	display: none;
}

#FrontPiecesList li {
	cursor: pointer;
	color: #3399cc;
}

#FrontPiecesList li em {
	font-weight: normal !important;
	color: #666;
}

#FrontPiecesList li.current {
	color: #222;
	font-weight: bold;
}

.PatternPieces__centerDartDiagram .PatternPieces__centerDart--center,
.PatternPieces__centerDartDiagram .PatternPieces__centerDart--left,
.PatternPieces__centerDartDiagram .PatternPieces__centerDart--right {
	stroke-dasharray: 24;
	stroke-dashoffset: 24;
}

.PatternPieces__centerDartDiagram .PatternPieces__centerDart--center {
	animation: draw--centerDartDiagramCenter 5s ease infinite;
}

.PatternPieces__centerDartDiagram .PatternPieces__centerDart--left {
	animation: draw--centerDartDiagramLeft 5s ease infinite;
}

.PatternPieces__centerDartDiagram .PatternPieces__centerDart--right {
	animation: draw--centerDartDiagramRight 5s ease infinite;
}

@keyframes draw--centerDartDiagramCenter {
	0% {
		stroke-dashoffset: 24;
		opacity: 1;
	}

	25% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	90% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

@keyframes draw--centerDartDiagramLeft {
	0%, 25% {
		stroke-dashoffset: 24;
		opacity: 1;
	}

	50% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	90% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

@keyframes draw--centerDartDiagramRight {
	0%, 50% {
		stroke-dashoffset: 24;
		opacity: 1;
	}

	75% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	90% {
		stroke-dashoffset: 0;
		opacity: 1;
	}

	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--A .centerDart,
.PatternPieces__frontTemplate--B .centerDart,
.PatternPieces__frontTemplate--C .centerDart,
.PatternPieces__frontTemplate--A .pocketTop,
.PatternPieces__frontTemplate--A .pocketUpper,
.PatternPieces__frontTemplate--A .pocketLower,
.PatternPieces__frontTemplate--A .pocketBottom,
.PatternPieces__frontTemplate--A .straightRight,
.PatternPieces__frontTemplate--A .straightLeft,
.PatternPieces__frontTemplate--B .pocketTop,
.PatternPieces__frontTemplate--B .pocketUpper,
.PatternPieces__frontTemplate--B .pocketLower,
.PatternPieces__frontTemplate--B .pocketBottom {
	display: none;
}

.PatternPieces__frontTemplate--A .rightOuter {
	animation: draw--rightOuter 8s ease infinite;
}

@keyframes draw--rightOuter {
	0% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	25% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--A .rightInner {
	animation: draw--rightInner 8s ease infinite;
}

@keyframes draw--rightInner {
	0%, 25% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	50% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--A .leftOuter {
	animation: draw--leftOuter 8s ease infinite;
}

@keyframes draw--leftOuter {
	0%, 50% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	75% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--B .straightRight {
	animation: draw--straightRight 4s ease infinite;
}

@keyframes draw--straightRight {
	0% {
		stroke-dasharray: 0 60;
		opacity: 1;
	}

	40% {
		stroke-dasharray: 60;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 60;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 60;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--B .straightLeft {
	animation: draw--straightLeft 4s ease infinite;
}

@keyframes draw--straightLeft {
	0%, 35% {
		stroke-dasharray: 0 60;
		opacity: 1;
	}

	75% {
		stroke-dasharray: 60;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 60;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 60;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--C .pocketTop {
	animation: draw--pocketTop 8s ease infinite;
}

@keyframes draw--pocketTop {
	0% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	20% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--C .pocketUpper {
	animation: draw--pocketUpper 8s ease infinite;
}

@keyframes draw--pocketUpper {
	0%, 20% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	40% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--C .pocketLower {
	animation: draw--pocketLower 8s ease infinite;
}

@keyframes draw--pocketLower {
	0%, 40% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	60% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}

.PatternPieces__frontTemplate--C .pocketBottom {
	animation: draw--pocketBottom 8s ease infinite;
}

@keyframes draw--pocketBottom {
	0%, 60% {
		stroke-dasharray: 0 140;
		opacity: 1;
	}

	80% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	90% {
		stroke-dasharray: 140;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 140;
		opacity: 0;
	}
}
