i[data-rank-bar] {
	display: block;
	background: #aaa;
	border-radius: 3px;

	> span {
		display: block;
		white-space: nowrap;
	}
	
	i[data-rank-tile] {
		width: 12px;
		height: 20px;
		display: inline-block;
		
		&[data-rank-tile="R"] {
			background-color: #F00;
		}
		
		&[data-rank-tile="B"] {
			background-color: #00F;
		}
		
		&[data-rank-tile="Y"] {
			background-color: #FF0;
		}
	}
}
