.RankBar {
	display: table;
	background: #bbb;
	border-radius: 3px;
	border: 1px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.RankBar + .RankBar {
	margin-top: 8px;
}

.RankBar--wide .RankBar__tile {
	margin: 2px 3px !important;
}

.RankBar__row {
	display: block;
	white-space: nowrap;
	height: 17px;
}

.RankBar__row:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.RankBar__row:not(:first-child) {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.RankBar__tile {
	width: 9px;
	height: 13px;
	display: inline-block;
	box-sizing: border-box;
	margin: 2px;
	border-radius: 2px;
	border: 2px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(255, 255, 255, 0.1);
}

.RankBar__tile:not(:last-child) {
	margin-right: 0;
}

.RankBar__tile--R {
	background-color: #E61B21;
}

.RankBar__tile--B {
	background-color: #2C78BC;
}

.RankBar__tile--Y {
	background-color: #FFA518;
}

td ul {
	padding-left: 10px;
}

figure {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 14px 20px;
	max-width: 33%;
}

figure figcaption:first-child {
	border-bottom: 2px solid #ccc;
	padding: 0 8px;
	margin-bottom: 8px;
	font-weight: bold;
}

figcaption small {
	display: block;
	line-height: 1em;
	opacity: 0.6;
}

.Tunic,
.Trousers{
	height: 250px;
}

.Tunic--white,
.Trousers--white {
	fill: #fff;
}

.Tunic--olive,
.Trousers--olive {
	fill: #424641;
}

.Tunic--black,
.Trousers--black {
	fill: #222;
}

.Tunic--noCenterDart .Tunic__centerDart,
.Tunic--noPockets .Tunic__pocket,
.Tunic:not(.Tunic--bellSleeves) .Tunic__bellSeam,
.Tunic:not(.Tunic--epaulets) .Tunic__epaulet,
.Tunic:not(.Tunic--collarArrows) .Tunic__collarArrow,
.Tunic:not(.Tunic--straightYoke) .Tunic__straightYoke,
.Trousers--straight .Trousers__flare,
.Trousers:not(.Trousers--jackBoots) .Trousers__jackBoot,
.Trousers--jackBoots .Trousers__tallBoot {
	display: none !important;
}

.Tunic--straightYoke .Tunic__shoulderSeam {
	stroke: #7f7f7f !important;
	opacity: 0.6;
}

.Officer__table {
}

.Officer__table th,
.Officer__table td {
	border: none !important;
	vertical-align: top;
}

.Officer__table--rank {
	width: auto;
	width: 40%;
	float: left;
	margin-left: 5%;
}

.Officer__table--rank + :not(.Officer__table) {
	clear: both;
}

.Officer__table--rank th {
	text-align: right;
	line-height: 1em;
}

.Officer__table--rank td {
	text-align: left;
	width: 80px;
}
