i[data-rank-bar] {
	display: block;
	background: #aaa;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top-color: rgba(255, 255, 255, 0.2);
	border-left-color: rgba(255, 255, 255, 0.2);
}

i[data-rank-bar] > span {
	display: block;
	white-space: nowrap;
	height: 28px;
}

i[data-rank-bar] > span:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


i[data-rank-bar] > span:not(:first-child) {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
	
i[data-rank-tile] {
	width: 12px;
	height: 20px;
	display: inline-block;
	margin: 4px;
	border-radius: 2px;
}

i[data-rank-tile]:not(:last-child) {
	margin-right: 0;
}

i[data-rank-tile="R"] {
	background-color: #F00;
}
		
i[data-rank-tile="B"] {
	background-color: #00F;
}
		
i[data-rank-tile="Y"] {
	background-color: #FF0;
}
