---
---

@import "{{ site.theme }}";

header {
	padding: 20px;
}

section {
	margin-top: 140px;
}

nav {
	top: 150px;
}

#comments,
#comments > iframe {
	width: 100% !important;
	max-width: 100% !important;
}
